*{
  font-family: 'IRANSansX', sans-serif;

}
html, body {
  /* direction: rtl; */
  font-family: 'IRANSansX', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000 !important; 
}
button{
  font-family: 'IRANSansX', sans-serif;
}

.Toastify__toast,
.Toastify__toast-body,
.Toastify__toast-container {
  font-family: 'IRANSansX', sans-serif !important;
}
